<!-- categories details -->
category+='<li class="therapy-image-wrpaer" onclick="category()">'
    category+='<div class="therapy-image-wrpaer-inner">'
        category+='<img src="/content/images/Homepage/therapy02.webp" data-src="/content/images/Homepage/therapy02.webp" class="img-fluid lazyloaded" alt="choose therapy images">'
        category+='<div class="overlay"><p class="overlay-text">Skin care</p></div>'
        category+='</div>'
        category+='</li>'

<!-- end categories details -->

<!-- sub categories details -->
subcat+='<li class="therapy-sub-cateory-wrap" onclick="subcategory()">'
    subcat+='<a href="#">Glow</a>'
    subcat+='</li>'
<!-- end sub categories details -->

<!-- products details -->
prodHtml+='<li class="product">'
    prodHtml+='<article class="card">'
        prodHtml+='<figure class="card-figure">'
            prodHtml+='<a href="#" class="card-figure__link">'
                prodHtml+='<div class="card-img-container load">'
                    prodHtml+='<img src="/content/images/Homepage/productimage.png" data-src="/content/images/Homepage/productimage.png" class="img-fluid lazyloaded" alt="product name">'
                    prodHtml+='</div>'
                    prodHtml+='<div class="tag-sections">'
                        prodHtml+='<div class="star-rating">'
                            prodHtml+='<span class="icon--ratingFull">'
                                prodHtml+='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">'
                                    prodHtml+='<path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"></path>'
                                    prodHtml+='</svg>'
                                    prodHtml+='</span>'              
                                    prodHtml+='<span class="rating-count">4/5</span>'
                                       prodHtml+='</div>'
                                     prodHtml+='</div>'
                                 prodHtml+='</a>'
                             prodHtml+='</figure>'
                             prodHtml+='<div class="card-body">'
                                 prodHtml+='<h3 class="card-title card-comman">'
                                     prodHtml+='<a href="#">Glow mix </a>'
                                 prodHtml+='</h3>'
                                 prodHtml+='<p class="card-ingredients card-details card-comman">Glow,Pigmentation,Dark Circles</p>'
                                 prodHtml+='<p class="card-ingredients-details card-details card-comman">Pomegranate,Shatavari,Mulethi + 13 Herbs</p>'
                                 prodHtml+='<div class="card-text card-comman">'
                                     prodHtml+='<div>'
                                         prodHtml+='<span class="price">₹509.00</span><span class="price--non-sale">299.00</span>'
                                     prodHtml+='</div>'
                                 prodHtml+='</div>'
                                 prodHtml+='<div class="Prod-AddToCart">'
                                     prodHtml+='<a href="javascript:void(0);" class="button button--small buy-now event_buy_now_add_to_cart">Buy Now</a>'
                                     prodHtml+='<div class="ProductAddtocartWrap Prod-AddToCart-add cardwishlist add-cart">'
                                         prodHtml+='<div class="form ProductWhislist" data-wishlist-add="">'
                                             prodHtml+='<div class="button button-wishlist">'
                                                 prodHtml+='<span class="heart-icon">'
                                                     prodHtml+='<a href="javascript:void(0);" class="bag-icon card-addtocart-button">Add to card<div id="pro-count"></div>'
                                                 prodHtml+='</a>'
                                                 prodHtml+='</span>'
                                             prodHtml+='</div>'
                                         prodHtml+='</div>'
                                     prodHtml+='</div>'  
                                 prodHtml+='</div>'
                             prodHtml+='</div>'
                            
                         prodHtml+='</article>'
                     prodHtml+='</li>'
 <!-- end products details -->
