{{#partial "page"}}


<h1 class="page-heading is-srOnly">{{lang 'account.returns.heading' }}</h1>
<div class="top-page">
     <p class="left-text">My account<br/></p>
     <p><a class="logout" href="login.php?action=logout">Sign out</a></p>
</div>
<div class="order-page">
    {{> components/account/navigation account_page='returns'}}

<div class="account account--fixed">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <div class="account-body">
        <section class="account-content">
            {{#if customer.returns}}
                {{> components/account/returns-list returns=customer.returns}}
            {{else}}
                {{> components/common/alert/alert-info (lang 'account.returns.none')}}
            {{/if}}
        </section>
    </div>
</div>
</div>
{{/partial}}
{{> layout/base}}
