<section id="aboutus-banner-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-right">
                <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/image-94.png" alt="Noni-Ingredient-Kapiva" width="111" height="94" class="mx-auto d-block hide-for-mobile cucumber">
                <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/image-28.png" alt="Noni-Ingredient-Kapiva" width="130" height="124" class="mx-auto d-block hide-for-mobile">
            </div>
            <div class="col-sm-4 text-center top-middle-column">
                <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/karela-jamun-pic.png" alt="Mask-Group" width="400" height="334">
                <h1>Kapiva-Modern <br> Ayurvedic Nutrition</h1>
                <p> We're with you to help you live consciously, in synergy with Mother nature. </p> 
            </div>
            <div class="col-sm-4 text-right">
                <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/a2-ghee-kapiva.png" alt="Kapiva-stamp" width="200" height="200" class="mx-auto d-block hide-for-mobile stamp">
                <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/image-36.png" alt="Noni-Ingredient-Kapiva" width="200" height="200" class="mx-auto d-block hide-for-mobile">
            </div>
        </div>
    </div>
</section>
