<section id="founder-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 text-top">
                <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8//product_images/uploaded_images/image-34.png" alt="Noni-Ingredient-Kapiva" width="100" height="100" class="mx-auto d-block hide-for-mobile">
                <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8//product_images/uploaded_images/acv-artisan-kapiva.png" alt="Noni-Ingredient-Kapiva" width="200" height="200" class="mx-auto d-block hide-for-mobile">
            </div>
            <div class="col-sm-4 text-center top-middle-column">
                <p> NOTE FROM OUR FOUNDERS</p> 
                <h2>Thank you for giving us a chance to serve you. We hope to continue bringing balance and good health to you and your family</h2>
                <p> - Shrey & Ameve </p> 
            </div>
            <div class="col-sm-4 text-bottom">
                <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8//product_images/uploaded_images/a2-ghee-kapiva.png" alt="Noni-Ingredient-Kapiva" width="200" height="200" class="mx-auto d-block hide-for-mobile">
                <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/image-36.png" alt="Noni-Ingredient-Kapiva" width="200" height="200" class="mx-auto d-block hide-for-mobile">
            </div>
        </div>
    </div>
</section>
