<section class="what-makes-kapiva about-us">
    <div class="container position-relative">
       <div class="heading-wrap">
            <p>ABOUT US</p>
            <h3 class="about-us-title">Kapiva tri-dosha synergy is an ever growing family of Ayurvedic experts, nutritionist, food scientists and curious minds like you. </h3>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-lg-4 mb-2 mb-lg-0">
                <div class="wrap red-block kapiva-curve medium">
                    <div class="seal-block"><img data-src="{{cdn 'webdav:images/nature-is-good-seal.webp'}}" class="seal-animation lazyload" alt="seal-icon"></div>
                    <div class="body-copy">
                        <h3>Natural is good</h3>
                        <p>Kapiva ensures that all of Our products are natural and organic</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2 mb-lg-0">
                <div class="wrap green-block kapiva-curve medium">
                    <div class="seal-block"><img data-src="{{cdn 'webdav:images/here-for-your-health-seal.webp'}}" class="seal-animation lazyload" alt="seal-icon"></div>
                    <div class="body-copy">
                        <h3>Here for your health</h3>
                        <p>Our products are made with the knowledge of ancient Ayurveda & the backing of modern science.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-2 mb-lg-0">
                <div class="wrap yellow-block kapiva-curve medium">
                    <div class="seal-block"><img data-src="{{cdn 'webdav:images/no-shortcuts-seal.webp'}}" class="seal-animation lazyload" alt="seal-icon"></div>
                    <div class="body-copy">
                        <h3>No shortcuts</h3>
                        <p>Kapiva products are sourced in their purest form.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
