<section class="health-outcomes">
    <div class="container position-relative">
      <div class="heading-health">
        <h3 class="heading-health-main">Health Outcomes delivered through Ayurveda </h3>
      </div>
     <div class="healthOutcomesTab">
        <!-- <ul class="row justify-content-center mt-3">
          <li class="col-lg-6">
              <p class="health-text health-deta">Select Ayurveda products</p>
          </li>
          <li class="col-lg-6">
            <p class="health-text health-deta">Select Ayurveda products</p>
          </li>
          <li class="col-lg-6">
            <p class="health-text health-deta">Still confused take Health Assist Quiz or talk to a health Experts</p>
          </li>
        </ul> -->
     </div>
    </div>
    <div class="health-outcomes-flower">
      <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/flower_health_outcomes.png?v1'}}" class="img-fluid lazyload" alt="flower health outcomes" loading="lazy" width="588px" height="859px">
    </div>
  </section>
