<section class="what-makes-kapiva">
    <div class="container position-relative">
    
      <div class="heading-wrap">
        <h3 class="common-title">What makes Kapiva special?</h3>
        <p>Your body is the best place to live. So, taking care of it shouldn’t be a difficult thing.</p>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-lg-4 mb-2 mb-lg-0">
          <div class="wrap red-block kapiva-curve medium">
            <div class="seal-block"><img data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/nature-is-good-seal.webp'}}" class="seal-animation lazyload" alt="seal-icon"></div>
            <div class="body-copy">
              <h3>Natural is good</h3>
              <p>Kapiva ensures that all of their products are natural and organic</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-2 mb-lg-0">
          <div class="wrap green-block kapiva-curve medium">
            <div class="seal-block"><img data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/here-for-your-health-seal.webp'}}" class="seal-animation lazyload" alt="seal-icon"></div>
            <div class="body-copy">
              <h3>Here for your health</h3>
              <p>Our products are made with the knowledge of ancient Ayurveda & the backing of modern science.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-2 mb-lg-0">
          <div class="wrap yellow-block kapiva-curve medium">
            <div class="seal-block"><img data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/no-shortcuts-seal.webp'}}" class="seal-animation lazyload" alt="seal-icon"></div>
            <div class="body-copy">
              <h3>No shortcuts</h3>
              <p>At Kapiva, our products are sourced straight from farms and plantations, ensuring that our ingredients retain their highest nutritional value.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
