<section class="testimonials-section">
    <h3 class="text-center heading-homepage"><span>Real People, Real Stories</span></h3>
   <div class="testimonial-flower">
        <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/flower_testimonials.png?v1'}}" class="img-fluid lazyload" alt="testimonial flower image" loading="lazy" width="323px" height="448px">
   </div>
    <div class="container">
        <div class="slider-wrap glider-contain">

        <ul class="testimonialSlider-homepage glider">
           <li class="wrap Testimonial-Slides">
                <div class="block is-loading">
                    <div class="image">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/testimonial01.png'}}" class="kapiva-curve small lazyload" alt=""> -->
                        <div class="image-icon">
                            <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/playvideo-icon.png'}}" class="kapiva-curve small lazyload" alt=""> -->
                        </div>
                    </div>
                    <div class="testimonial-body">
                        <!-- <p class="testimonial-name">Divya G, Bangalore</p>
                        <div class="star-rating">
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                        </div>
                        <div class="testimonial-line"></div>
                        <p class="testimonial-text">“Skin needs nourishment like an
                            organ. I knew this but only realised
                            it when I started nourishing it with
                            the help of experts at Kapiva. I just
                            dont have better skin, I understand
                            my skin better”
                        </p> -->
                    </div>
                </div>
            </li>
            <li class="wrap Testimonial-Slides">
                <div class="block is-loading">
                    <!--<div class="image">-->
                       
                    <!--    <div class="videos">-->
                    <!--        <iframe src="https://www.youtube.com/embed/HMuet1Q3LwY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
                    <!--    </div>    -->
                       <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/testimonial01.png'}}" class="kapiva-curve small lazyload" alt=""> -->
                    <!--    <div class="image-icon">-->
                           <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/playvideo-icon.png'}}" class="kapiva-curve small lazyload" alt=""> -->
                    <!--    </div>-->
                    <!--</div>-->
                     <div class="image">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/testimonial01.png'}}" class="kapiva-curve small lazyload" alt=""> -->
                        <div class="image-icon">
                        </div>
                    </div>
                    <div class="testimonial-body">
                        <!-- <p class="testimonial-name">Divya G, Bangalore</p>
                        <div class="star-rating">
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="#80b33f" stroke-width="0.114"><path d="M463.1 474.7C465.1 486.7 460.2 498.9 450.2 506C440.3 513.1 427.2 514 416.5 508.3L288.1 439.8L159.8 508.3C149 514 135.9 513.1 126 506C116.1 498.9 111.1 486.7 113.2 474.7L137.8 328.1L33.58 225.9C24.97 217.3 21.91 204.7 25.69 193.1C29.46 181.6 39.43 173.2 51.42 171.5L195 150.3L259.4 17.97C264.7 6.954 275.9-.0391 288.1-.0391C300.4-.0391 311.6 6.954 316.9 17.97L381.2 150.3L524.9 171.5C536.8 173.2 546.8 181.6 550.6 193.1C554.4 204.7 551.3 217.3 542.7 225.9L438.5 328.1L463.1 474.7zM288 376.4L288.1 376.3L399.7 435.9L378.4 309.6L469.2 219.8L343.8 201.4L288.1 86.85L288 87.14V376.4z"/></svg>
                            </span>
                        </div>
                        <div class="testimonial-line"></div>
                        <p class="testimonial-text">“Skin needs nourishment like an
                            organ. I knew this but only realised
                            it when I started nourishing it with
                            the help of experts at Kapiva. I just
                            dont have better skin, I understand
                            my skin better”
                        </p> -->
                    </div>
                </div>
            </li>
            <li class="wrap Testimonial-Slides">
                <div class="block is-loading">
                    <div class="image">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/testimonial01.png'}}" class="kapiva-curve small lazyload" alt=""> -->
                        <div class="image-icon">
                        </div>
                    </div>
                    <div class="testimonial-body">
                        <!-- <p class="testimonial-name">Divya G, Bangalore</p>
                        <div class="star-rating">
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                        </div>
                        <div class="testimonial-line"></div>
                        <p class="testimonial-text">“Skin needs nourishment like an
                            organ. I knew this but only realised
                            it when I started nourishing it with
                            the help of experts at Kapiva. I just
                            dont have better skin, I understand
                            my skin better”
                        </p> -->
                    </div>
                </div>
            </li>
            <li class="wrap Testimonial-Slides">
                <div class="block is-loading">
                    <div class="image">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/testimonial01.png'}}" class="kapiva-curve small lazyload" alt=""> -->
                        <div class="image-icon">
                        </div>
                    </div>
                    <div class="testimonial-body">
                        <p class="testimonial-name">Divya G, Bangalore</p>
                        <div class="star-rating">
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                            <span class="icon--fullrating">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.835 8.403">
                                    <path id="star_fill" d="M73.435,1290.659l1.327,2.69,2.968.431-2.148,2.094.507,2.956-2.655-1.4-2.655,1.4.507-2.956-2.148-2.094,2.968-.431Z" transform="translate(-69.018 -1290.531)" fill="#80b33f" stroke="#868686" stroke-width="0.114"/>
                                </svg>
                            </span>
                        </div>
                        <div class="testimonial-line"></div>
                        <p class="testimonial-text">“Skin needs nourishment like an
                            organ. I knew this but only realised
                            it when I started nourishing it with
                            the help of experts at Kapiva. I just
                            dont have better skin, I understand
                            my skin better”
                        </p>
                    </div>
                </div>
            </li>   
        </ul>
        <div class="dots-testimonials">
            <div  class="dotss glider-dots-main coman-dots"></div>
        </div>
        <div class="glider-button buttom-testimonials">
            <!-- <button aria-label="Previous" class="glider-prevs glider-button-prev">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17.906" height="31.91" viewBox="0 0 17.906 31.91">
                    <path d="M0.995,31.924 C0.730,31.924 0.466,31.818 0.270,31.608 C-0.106,31.207 -0.086,30.576 0.315,30.200 L15.456,15.974 L0.315,1.748 C-0.086,1.372 -0.106,0.741 0.270,0.340 C0.645,-0.063 1.275,-0.083 1.676,0.294 L17.590,15.247 C17.791,15.435 17.905,15.699 17.905,15.974 C17.905,16.250 17.791,16.513 17.590,16.702 L1.676,31.654 C1.484,31.834 1.239,31.924 0.995,31.924 Z" class="cls-1"></path>
                  </svg>
            </button>
            <button aria-label="Next" class="glider-nexts glider-button-next">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17.906" height="31.91" viewBox="0 0 17.906 31.91">
                    <path d="M0.995,31.924 C0.730,31.924 0.466,31.818 0.270,31.608 C-0.106,31.207 -0.086,30.576 0.315,30.200 L15.456,15.974 L0.315,1.748 C-0.086,1.372 -0.106,0.741 0.270,0.340 C0.645,-0.063 1.275,-0.083 1.676,0.294 L17.590,15.247 C17.791,15.435 17.905,15.699 17.905,15.974 C17.905,16.250 17.791,16.513 17.590,16.702 L1.676,31.654 C1.484,31.834 1.239,31.924 0.995,31.924 Z" class="cls-1"></path>
                  </svg>
            </button> -->
        </div>
    </div>
	</div>
</section>
<script>
    setTimeout(function(){
      new Glider(document.querySelector('.testimonialSlider-homepage'), {
      slidesToShow: 4,
      slidesToScroll: 1,
      draggable: true,
      dots: '.dotss',
      arrows: {
        prev: '.glider-prevs',
        next: '.glider-nexts',
    },
      responsive: [
        {
          breakpoint: 375,
          settings: {
            slidesToShow: '1.5',
            slidesToScroll: '1',
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: '3',
            slidesToScroll: '1',
          }
        },
        {
          breakpoint: 1024,
          settings: {
            slidesToShow:3,
            slidesToScroll: 1,
          }
        },
        {
          breakpoint: 1200,
          settings: {
            slidesToShow:4,
            slidesToScroll: 1,
          }
        }
      ]
    });
},4000);
</script>
    
    

