<section class="doctors-consultaion">
    <!-- <div class="icon-1"><img src="https://store-5h8rqg02f8.mybigcommerce.com/content/images/apple-2.png" class="img-fluid" alt=""></div>
    <div class="icon-2"><img src="https://store-5h8rqg02f8.mybigcommerce.com/content/images/a2-ghee-kapiva.png" class="img-fluid" alt=""></div> -->
    <div class="container">
		<h3>Book free consultation</h3>
        
		<div class="row">
			<div class="col-lg-12 position-relative">
            	<div class="DoctorBoxWrap">
                    <div class="doctorBox">
                    	<div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="Doc-Image">
                                    <div class="img kapiva-curve medium"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-2qk49wb9fq/content/images/doctors-slider.webp'}}" class="img-fluid lazyload" alt=""></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12 ">
                                <div class="Doc-detail">
                                    <div class="append-doctor-dots"></div>
                                    <div class="slider-wrap doctors-description-slider slider-container">
                                        <div class="slider-control left inactive"></div>
                                        <div class="slider-control right"></div>
                                        <ul class="slider-pagi slider-pagi2 splide__pagination desk"></ul>
                                        <div class="slider">
                                        <div class="slide2 slide2-0 bind splide__slide active">
                                            <p>“The doctor was very kind and patient. She considered all my queries and answered them without any hesitation even few were basic. I would recommend to definitely give it a try and follow their prescription for given time period.”</p>
                                            <div class="doctor-details">
                                            <strong>Krutji</strong>                                         
                                            </div>
                                        </div>
                                        <div class="slide2 slide2-1 bind splide__slide">
                                            <p>“Had an interesting and insightful discussion with Dr. Ashwathy. Though being an allopathic doctor, I have great faith in our ancient science. Dr. Ashwathy actually made me reduce the medicines I was taking at a friend's behest, explaining me the action of each content. Would be following with her on my progress.”</p>
                                            <div class="doctor-details">
                                                <strong>JP. Mehta</strong>                                            
                                            </div>
                                        </div>
                                        <div class="slide2 slide2-2 bind splide__slide">
                                            <p>“Dr Manjula P Badiyar is a gem, Very patient, Calm and composed. She listened very attentively and answered one by one every question to my satisfaction. A perfect doctor package.”</p>
                                            <div class="doctor-details">
                                                <strong>Mudassir Khan</strong>                                            
                                            </div>
                                        </div>
                                        <div class="slide2 slide2-3 bind splide__slide">
                                            <p>“I am so glad that the doctor spoke to me and patiently listened to my daily routine. She was really helpful and clearly explained the right kind of diet for me.”</p>
                                            <div class="doctor-details">
                                                <strong>Fathima Sheikh</strong>                                            
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="slider-pagi slider-pagi2 splide__pagination  mobile"></ul>
                                    </div>
                                    <a href="/consult-with-doctor/" class="button btn btn-outline-primary" tabindex="-1">Book free consultation</a>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
    </div>
</section>

