<section class="ingredients-block">
  <div class="container">
    <div class="heading-wrap">
      <div class="icon-1"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/tulsigiloy-artisan-kapiva.webp'}}" class="img-fluid lazyload" alt="tulsigiloy-artisan-kapiva"></div>
      <div class="icon-2"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/tulsigiloy-place-kapiva.webp'}}" class="img-fluid lazyload" alt="tulsigiloy-place-kapiva"></div>
      <div class="heading">Ingredients</div>
      <h3>Our brand is built on the provenance stories of our product.</h3>
      <div class="paragraph"><span>Choose from our various ayurvedic solutions 
        <div class="curve"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/curve-arrow.webp'}}" class="img-fluid lazyload" alt="arrow-icon"></div>
        </span>
      </div>
    </div>
    <div class="tabs-list CatSlider-Wrap">
      <ul class="productCarousel slider-nav" data-list-name="{{list}}"
          data-slick='{
                "infinite": false,
                "mobileFirst": false,
                "dots": true,
                "arrows":false,
                "accessibility": false, 
                "swipe": true,
                "slidesToShow": 5,
                "slidesToScroll": 1,
                "focusOnSelect": true,
                "asNavFor": ".slider-for",
                "responsive": [
                 {
                        "breakpoint": 1025,
                        "settings": {
                          "arrows": false,
                            "autoplay": false,
                            "slidesToShow": 5,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 991,
                        "settings": {
                          "arrows": false,
                            "autoplay": false,
                            "slidesToShow": 5,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 768,
                        "settings": {
                          "arrows": false,
                            "autoplay": false,
                            "slidesToShow": 2,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 550,
                        "settings": {
                          "arrows": false,                          
                          "slidesToShow": 1,
                          "slidesToScroll": 1 
                        }
                    }
                ]
            }'>
        <li class="productCarousel-slide"><a href="javascript:;" class="active">Immunity</a></li>
        <li class="productCarousel-slide"><a href="javascript:;">Weight Loss</a></li>
        <li class="productCarousel-slide"><a href="javascript:;">Strength & Stamina</a></li>
        <li class="productCarousel-slide"><a href="javascript:;">Skin & Hair</a></li>
        <li class="productCarousel-slide"><a href="javascript:;">Digestion</a></li>
      </ul>
    </div>
    <div class="instruction">Please select one or more ingredients and click on the button below</div>
    <a class="btn btn-primary ingredientfilterbutton disabledButton">See products</span></a>
    <div class="tabs-content slider-for" data-list-name="{{list}}" data-slick='{
                "infinite": false,
                "mobileFirst": true,
                "dots": false,
                "arrows":false,
                "accessibility": false, 
                "swipe": false,
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "asNavFor": ".slider-nav"                
            }'>
      <div class="tab-content-ingr">
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Amla">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/amla-hald-cut.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Amla</div>
              <div class="values">
                <p>Immunity</p>
                <p>Diabetes</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Giloy">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/giloy-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Giloy</div>
              <div class="values">
                <p>Immunity</p>
                <p>Digestion</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Turmeric">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/turmeric-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Turmeric</div>
              <div class="values">
                <p>Immunity</p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
           <div class="wrap kapiva-curve small" urlname="Tulsi">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/tulsi-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Tulsi</div>
              <div class="values">
                <p>Immunity</p>
                <p>Diabetes</p>
              </div>
            </div>
          </div>        
        </div>
        <div class="row">       
          <div class="col-lg-3 col-6">
             <div class="wrap kapiva-curve small" urlname="Ashwagandha">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/ashwagandha-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Ashwagandha</div>
              <div class="values">
                <p>Immunity</p>
                <p>De-Stress and Memory Boosting</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content-ingr">
        <div class="row">
          <div class="col-lg-3 col-6">
           <div class="wrap kapiva-curve small" urlname="Garcinia">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/gracinia.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Garcinia</div>
              <div class="values">
                <p>Weight Loss</p>
                <p>Artho Care</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Apple+Cider+Vinegar">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/apple-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Apple Cider Vinegar</div>
              <div class="values">
                <p>Weight Loss</p>
                <p>Diabetes</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Green+Tea">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/green-tea-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Green Tea</div>
              <div class="values">
                <p>Weight Loss</p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Green+Coffee+Bean">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/green-coffee-bean-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Green Coffee Bean</div>
              <div class="values">
                <p>Weight Loss</p>
                <p></p>
              </div>
            </div>
          </div>        
        </div>
        <div class="row">
           <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Cinnamon">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/cinnamon-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Cinnamon</div>
              <div class="values">
                <p>Weight Loss</p>
                <p></p>
              </div>
            </div>
          </div> 
        </div>      
      </div>
      <div class="tab-content-ingr">
        <div class="row">
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Plant+Protein">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/plant-protein-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Plant Protein</div>
              <div class="values">
                <p>Strength & Stamina</p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="shilajeet">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/shilajeet.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Shilajeet</div>
              <div class="values">
                <p>Strength & Stamina</p>
                <p></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Ashwagandha">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/ashwagandha-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Ashwagandha</div>
              <div class="values">
                <p>Strength & Stamina</p>
                <p>De-Stress and Memory Boosting</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-6">
            <div class="wrap kapiva-curve small" urlname="Brahmi">
              <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/Brahmi-new-Home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
              <div class="ingredient-name">Brahmi</div>
              <div class="values">
                <p>Strength & Stamina</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-6">
              <div class="wrap kapiva-curve small" urlname="Turmeric">
                <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/turmeric-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                <div class="ingredient-name">Turmeric</div>
                <div class="values">
                  <p>Strength & Stamina</p>
                  <p></p>
                </div>
              </div>
            </div>
        </div>     
      </div>
      <div class="tab-content-ingr">
        <div class="row">
           <div class="col-lg-3 col-6">
              <div class="wrap kapiva-curve small" urlname="Aloe+Vera">
                 <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/aloevera-png.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                 <div class="ingredient-name">Aloe Vera</div>
                 <div class="values">
                    <p>Skin & Hair</p>
                    <p>Digestion</p>
                 </div>
              </div>
           </div>
           <div class="col-lg-3 col-6">
              <div class="wrap kapiva-curve small" urlname="Amla">
                 <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/amla-hald-cut.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                 <div class="ingredient-name">Amla</div>
                 <div class="values">
                    <p>Skin & Hair</p>
                    <p>Diabetes</p>
                 </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
               <div class="wrap kapiva-curve small" urlname="Neem">
                  <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/neem-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                  <div class="ingredient-name">Neem</div>
                  <div class="values">
                     <p>Skin & Hair</p>
                     <p>Diabetes</p>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-6">
               <div class="wrap kapiva-curve small" urlname="Turmeric">
                  <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/turmeric-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                  <div class="ingredient-name">Turmeric</div>
                  <div class="values">
                     <p>Skin & Hair</p>
                     <p></p>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-3 col-6">
               <div class="wrap kapiva-curve small" urlname="Moringa">
                  <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/moringa-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                  <div class="ingredient-name">Moringa</div>
                  <div class="values">
                     <p>Skin & Hair</p>
                     <p></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-content-ingr">
          <div class="row">
            <div class="col-lg-3 col-6">
              <div class="wrap kapiva-curve small" urlname="Amla">
                <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/amla-hald-cut.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                <div class="ingredient-name">Amla</div>
                <div class="values">
                  <p>Digestion</p>
                  <p>Diabetes</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="wrap kapiva-curve small" urlname="Wheatgrass">
                <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/wheatgrass.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                <div class="ingredient-name">Wheatgrass</div>
                <div class="values">
                  <p>Digestion</p>
                  <p>Detox</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-6">
              <div class="wrap kapiva-curve small" urlname="Ginger">
                <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/Ginger.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                <div class="ingredient-name">Ginger</div>
                <div class="values">
                  <p>Digestion</p>
                  <p></p>
                </div>
              </div>
            </div> 
            <div class="col-lg-3 col-6">
              <div class="wrap kapiva-curve small" urlname="Turmeric">
                <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/turmeric-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                <div class="ingredient-name">Turmeric</div>
                <div class="values">
                  <p>Digestion</p>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-6">
              <div class="wrap kapiva-curve small" urlname="Apple+Cider+Vinegar">
                <div class="icon"><img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'customcdn:s-5h8rqg02f8/content/images/apple-home.webp'}}" class="img-fluid lazyload" alt="icon"></div>
                <div class="ingredient-name">Apple Cider Vinegar</div>
                <div class="values">
                  <p>Digestion</p>
                  <p>Diabetes</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>      
  </div>
</section>
