<section class="in-the-news-main">
    <h3 class="heading-homepage">Featured<span> in</span></h3>
    <p class="sub-heading">Improving health with Ayurveda</p>
    <p class="sub-inner-heading">2M+</p>
    <p class="sub-inner-main-heading">HAPPY AYURVEDA CONSUMERS</p>
    <div class="in-the-news-image-icon">
        <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/in-the-news.png?v1'}}" class="img-fluid lazyload" alt="in the news image" loading="lazy" width="395px" height="487px">
    </div>
    <div class="news-head-Main glider-contain">
        <ul class="news-head glider">
            <li class="news-inner-main">
                <div class="news-inner-wrpaer is-loading">
                    <div class="news-kapiva-wrap">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/news01.png'}}" class="img-fluid lazyload" alt="news image"> -->
                    </div>
                    <div class="wrap">
                        <p>EY Entrepreneur of the Year 2020</p>
                    </div> 
                </div>
            </li>
            <li class="news-inner-main">
                <div class="news-inner-wrpaer is-loading">
                    <div class="news-kapiva-wrap">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/news01.png'}}" class="img-fluid lazyload" alt="news image"> -->
                    </div>
                    <div class="wrap">
                        <p>EY Entrepreneur of the Year 2020</p>
                    </div> 
                </div>
            </li>
            <li class="news-inner-main">
                <div class="news-inner-wrpaer is-loading">
                    <div class="news-kapiva-wrap">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/news01.png'}}" class="img-fluid lazyload" alt="news image"> -->
                    </div>
                    <div class="wrap">
                        <p>EY Entrepreneur of the Year 2020</p>
                    </div> 
                </div>
            </li>
            <li class="news-inner-main">
                <div class="news-inner-wrpaer is-loading">
                    <div class="news-kapiva-wrap">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/news01.png'}}" class="img-fluid lazyload" alt="news image"> -->
                    </div>
                    <div class="wrap">
                        <p>EY Entrepreneur of the Year 2020</p>
                    </div> 
                </div>
            </li>
            <li class="news-inner-main">
                <div class="news-inner-wrpaer is-loading">
                    <div class="news-kapiva-wrap">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/news01.png'}}" class="img-fluid lazyload" alt="news image"> -->
                    </div>
                    <div class="wrap">
                        <p>EY Entrepreneur of the Year 2020</p>
                    </div> 
                </div>
            </li>
            <li class="news-inner-main">
                <div class="news-inner-wrpaer is-loading">
                    <div class="news-kapiva-wrap">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/news01.png'}}" class="img-fluid lazyload" alt="news image"> -->
                    </div>
                    <div class="wrap">
                        <p>EY Entrepreneur of the Year 2020</p>
                    </div> 
                </div>
            </li>
            <li class="news-inner-main">
                <div class="news-inner-wrpaer is-loading">
                    <div class="news-kapiva-wrap">
                        <!-- <img src="{{cdn 'assets/img/loading.svg'}}" data-src="{{cdn 'webdav:images/Homepage/news01.png'}}" class="img-fluid lazyload" alt="news image"> -->
                    </div>
                    <div class="wrap">
                        <p>EY Entrepreneur of the Year 2020</p>
                    </div> 
                </div>
            </li>
            
        </ul>
        <div class="dots-in-the-news">
            <div  class="dotsn glider-dots-main coman-dots dots-news"></div>
        </div>
    </div>
</section>
<script>
    setTimeout(function(){
    new Glider(document.querySelector('.news-head'), {
    slidesToShow: 6.5,
    slidesToScroll: 1,
    draggable: true,
    scrollLock:true,
    dots: '.dotsn',
    responsive: [
      {
        breakpoint: 375,
        settings: {
          slidesToShow: '2.5',
          slidesToScroll: '1',
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow:4.5,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 1024,
        settings: {
          slidesToShow:5.5,
          slidesToScroll: 1,
        }
      },
      {
        breakpoint: 1200,
        settings: {
          slidesToShow:6.5,
          slidesToScroll: 1,
        }
      }
    ]
  });
},4000);
</script>


