<section class="your-simple-guide mt-30">
    <div class="container-fluid position-relative">
        <div class="row green-section">
            <div class="col-lg-6">
                <div class="medium">
                    <div class="heading">OUR PHILOSOPHY</div>
                    <h2>
                        Your simple guide to everyday Ayurveda
                    </h2>
                    <div class="curve"><img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/slice7.png" alt="curve-img"  width="100" height="100"></div>
                    <p>
                        Kapiva understands the worries in your mind. Which is why we have pilled off the complications and left you with pure unadulterated nature. Crafted as fresh as plucked, we take the pains to go the longest route possible.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-section">
                    <div class="guide-1"><img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/image-97.png" alt="curve-img" width="170"></div>
                    <div class="guide-2"><img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/mealreplacement-mango-final-2.png" alt="curve-img" width="350"></div>
                    <div class="guide-3"><img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/image-95.png" alt="curve-img" width="270"></div>
                    <div class="guide-4"><img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/image-98.png" alt="curve-img" width="170"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="learn-from-past">
    <div class="container-fluid position-relative">
        <div class="row">
            <div class="col-lg-6 red-section">
                    <h2>
                        Learn from the past, created for the present
                    </h2>
                    <div class="curve"><img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/slice7.png" alt="curve-img"  width="100" height="100"></div>
                    <p>
                        Bringing a modern touch to Ayurveda, Kapiva sources, examines, undertakes all traditional procedures as laid down in our ancient Ayurvedic texts. Taking ancient principles and the human soul, we create Ayurvedic products with a modern touch, thus helping authentic Ayurvedic nutrition meet the demands of convenience.
                    </p>
                    <a href="/product/" class="view-products">View All Products</a>
                    <div class="red-section-img">
                        <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/image-105.png" alt="fruit-img"  width="200" height="200">
                        <img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/image-102.png" alt="fruit-img"  width="200" height="200">
                    </div>
            </div>
            <div class="col-lg-6 yellow-section">
                    <h2>
                        Preserving Nature, one ingredient at a time
                    </h2>
                    <div class="curve"><img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/slice7.png" alt="curve-img"  width="100" height="100"></div>
                    <p>
                        Years of study told us that freshest ingredients when matched with the right Ayurvedic process can result in nothing short of 'natural, good health'. This is precisely why, our amlas are ripe-yellow, our wheatgrass arrives only on the 8th day of harvest and our aloe vera juices are fresh born 4 hours old.
                    </p>
                    <a href="/ingredients/" class="view-ingre">View Ingredients</a>
                    <div class="yellow-section-img"><img src="https://cdn11.bigcommerce.com/s-5h8rqg02f8/product_images/uploaded_images/mask-group2.png" alt="fruit-img"  width="250" height="250"></div>
            </div>
        </div>
    </div>
</section>

