<form class="actionBar" method="get" data-sort-by="product">
    {{> components/category/sort-box sort=sort}}
</form>
<div class="st-overlay-active hide-desktop" style="display: none;">
    <div class="st-sorting-wrapper">
    <div class="st-sorting-inner">
       
    <ul class="list">
        <li class="sortby"><span class="input-close-btn11" onclick="closesortby()"></span>
    SORT BY
</li> 
<form class="actionBar" method="get" data-sort-by="product">
    {{> components/category/sort-box sort=sort}}
</form>
</ul>
</div>
</div>
</div>
